

.header{
    width: 100%;
    height: 82px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #D9FFF5;

    &__navigation{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 14px;
        padding-left: 16px;
        padding-right: 16px;

        &--link{
            background-color: #FF3E79;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &-hidden{
                background-color: #FF3E79;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                display: none;
                justify-content: center;
                align-items: center;

                @media (min-width: 768px) {
                    display: flex;
                }
                

            }
        }

        &--logo{
        width: 96px;
        height: 50px;
        }

        &--divlider{
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            border-radius: 4px;
            

            &-action{
                width: 2px;
                height: 32px;
                background-color: #EAEAEA;
                border-radius: 4px;
                display: none;
                
                
                @media (min-width: 768px) {
                    display: block;
                    
                }

            }
        }
    }

    

}